@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
}

@layer base {
    body {
        display: flex;
        background-image: url('./assets/images/bg.jpg');
    }
}
